
.secret {
    text-align: center;
    margin-left: 45px;
    margin-right: 45px;
    background-color: rgba(0,0,0,0.3);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    color: white;
    z-index: -1;
}

.unsecret{
    text-align: center;
    margin-left: 45px;
    margin-right: 45px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    z-index: -1;
}

.toLock{
    position: fixed;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    width: 50px;
    height: 20px;
    left: 0px;
    right: 0px;
    bottom: 100px;
    margin-left:auto;
    margin-right:80px;
    color: white;
    z-index: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}

.untoLock{
    position: fixed;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    width: 50px;
    height: 20px;
    left: 0px;
    right: 0px;
    bottom: 100px;
    margin-left:auto;
    margin-right:80px;
    color: white;
    z-index: 0;
}
