<router-outlet></router-outlet>

<div [ngClass]="{'secret': isSecret == 1, 'unsecret': isSecret == 0}">
  <br><br><br>
  memo works!
  <br>
  <br><br><br><br><br><br>
  asdasda
  dasdasdasd
  asdasdasdas
  dasdasdasdas
  dad
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
  
</div>

<div id = "lockButton" [ngClass]="{'toLock': isSecret == 1, 'untoLock': isSecret == 0}">
  LOCK
</div>
