<div class = "passport" [(ngModel)]="isSecret" [hidden] = "isSecret == 0">
    Expected Password:
    <input id="expectedPassword" value="714589"/>
    <hr/>
    <div class="grid">
      <div>
      <div class="cell" id="c1">1</div>
      <div class="cell" id="c2">2</div>
      <div class="cell" id="c3">3</div>
      </div>
      <div>
      <div class="cell" id="c4">4</div>
      <div class="cell" id="c5">5</div>
      <div class="cell" id="c6">6</div>
      </div>
      <div>
      <div class="cell" id="c7">7</div>
      <div class="cell" id="c8">8</div>
      <div class="cell" id="c9">9</div>
      </div>
      <div>
      <div class="cell" id="c10">#</div>
      <div class="cell" id="c0">0</div>		
      <div class="cell" id="c11">×</div>
      </div>
    </div>
    
    <div id="result"></div>
    
    <hr/>
      <ul>Push your password in sequence to unlock your memo page.
      </ul>
    <hr/>
</div>